body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 30px;
    color: #777;
    background: #fff;
}

#logo {
    width: 90%;
    max-width: 300px;
    margin: 0 0 20px 0;
}

#resTable table {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: 1px solid black;
    display: inline-block;
    border-collapse: collapse;
}

#resTable tr, #resTable th {
    margin: 0;
    padding: 5px 10px 5px 10px;
}

#resTable th {
    background-color: #92063f;
    color: #fff;
    font-weight: 300;
    border: 1px solid #aaa;
    min-width: 80px;
    padding: 10px;
}

#resTable td {
    color: #000;
    font-size: 12pt;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    font-weight: 400;
}

#tableContainer {
    margin-top: 20px;
    overflow-x: auto;
}

select, input[type="date"] {
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#homeContainer {
    text-align: center;
    margin: 40px 0 0 0;
    width: 95%;
}

.formButton {
    cursor: pointer;
    width: 200px;
    border: none;
    background: #92063f;
    color: #fff;
    margin: 20px 0 5px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.formButton:hover {
    background: #ffc400;
    transition: background-color 0.3s ease-in-out;
}

.form {
    background: #f9f9f9;
    padding: 25px;
    margin: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form div {
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.form h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

.form input,
.form select,
.form textarea {
    width: 90%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
    box-sizing: content-box;
}

.form input:hover,
.form select:hover,
.form textarea:hover {
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

.form textarea {
    height: 100px;
    resize: none;
}

.formContainer {
    width: 95%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

@media only screen and (min-width: 762px) {
    .formContainer {
        max-width: 600px;
    }
}

.error {
    font-size: 12pt;
    color: #c9093b;
    font-weight: 400;
}

.resCell {
    background-color:rgb(201, 9, 59, 0.4);
    cursor: pointer;
    border: none !important;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50%;
}

#modal-options {
    float: right;
    font-weight: bold;
}

#close-button, #edit-button, #delete-button {
    cursor: pointer;
}

#close-button {
    font-size: 24px;
}

#res-details {
    text-align: center;
}

#res-options {
    text-align: center;
    margin: 20px;
}

.hidden-input {
    display: none;
}